<label class="demo"><b>Current Date: {{Today|liveDate:'medium'}}</b></label><br>
<div class="hello" (mouseover)="stopAnimation()" (mouseout)="startAnimation()">"Welcome To HSPA :: Where Every Door Opens to Possibility..."</div>
<label>Filter City: &nbsp;</label>
<input [(ngModel)]="City" (input)="onCityInputChange($event.target.value)">
<!-- <button type="button" (click)="onCityFilter()">Search</button> -->
<button type="button" (click)="onCityFilterClear()">Clear</button> &nbsp;
<label>Sort by &nbsp;</label>
<select [(ngModel)]='SortbyParam'>
  <option value="city">City</option>
  <option value="price">Price</option>
</select>
<button type="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
</button>
<p *ngIf="!isValidCity(City) && City !== ''"><b class="demo1">No results found</b></p>
<div class="row">
  <div *ngFor="let property of properties | filter:SearchCity:'city'|sort:[SortbyParam,SortDirection]" class="col-sm-4">
    <div class="shadow-lg p-3 mb-4">
      <app-property-card [property]="property"></app-property-card>
    </div>
  </div>
</div>
